@import '~bootstrap/scss/bootstrap';

.logo a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.request-header {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

ul.request-attributes {
  margin-bottom: 0;
}