<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Request-Mirror</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">

</head>

<body>
<!-- Page Content -->

<div class="container">
    {% if error %}
        <div class="row justify-content-center mt-5">
            <div class="col">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ error|safe }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <h1>Request-Mirror</h1>
            <p class="lead">Debug your requests in realtime!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <h3 class="card-title text-center">Create a mirror</h3>
                <div class="card-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <input class="form-control" name="code" id="code" type="text"
                                       placeholder="Optional name" value="{{ code }}">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="small text-muted"><em>Your mirror will expire after 15 minutes of in-activity</em></div>
        </div>
    </div>
</div>


<script async src="{{ url_for('static', filename='dist/index.js') }}"></script>

</body>

</html>
