<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Request-Mirror - {{ code }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/view.css') }}">

</head>

<body>
<!-- Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="logo">
                <a href="{{ url_for('index') }}"><h1>Request-Mirror</h1></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Requests for <code><span id='mirror' onclick="selectText('mirror');">{{ url_for('process_request', code=code, _external=True) }}</span></code></h3>
            <div id="request-list"></div>
        </div>
    </div>

</div>
<script>
    code = '{{ code }}';
    url_root = '{{ url_root }}';
    function selectText(id) {
        const range = document.createRange();
        range.selectNodeContents(document.getElementById(id));
        const sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
    }
</script>

<script async src="{{ url_for('static', filename='dist/view.js') }}"></script>

</body>

</html>
